body {
    background: url("/static/ricepaper2.png")
}

#container {
    width: 540px;
    margin: 0 auto 0 auto;
    padding: 25px;
    font-family: 'Simonetta', serif;  /* Caslon Pro */ 
    font-size: 18px;
    line-height: 24px;
}

@font-face {
    font-family: "Art Nouveau-Bistro";
    src: local("Art Nouveau-Bistro"), url("/static/art-nouveau-bistro.ttf");
}
h1, h2, h3 {
    font-family: "Art Nouveau-Bistro";
    color: #8B96C7;
    text-align: center;
}
h1 {
    font-size: 32px;
    margin-bottom: 1em;
}

p, td {
    text-align: justify;
    text-justify: newspaper;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-bottom: 0;
}
p + p {
    text-indent: 1em;
}
p:first-child {
    text-indent: 0;
}

/* Hex Description */

.hex {
    border-top: 2px solid #9DA5D3;
    margin:0; padding:2px;
    margin-top:24px;
    clear: both;
    font-size: 16px;
}
.hex p {
    text-indent: 0;
}
.hex p.location,
.hex .left {
    float: left;
    width: 120px;
    padding-top: 8px;
    font-weight: bold;        
}
.hex p.left, 
.hex .left p {
    text-align: left;
}
.hex .left p {
    font-size: 14px;
    line-height: 18px;    
}
.hex .left .subhead {
    font-size:14px;
    line-height: 16px;
    font-weight: normal;
}
.hex p.location {
    font-size: 18px;
}
.hex p.description,
.hex p.restock {
    float: right;
    padding: 6px 0;
    width: 400px;
}
.hex p.description + p.description {
    border-top: 2px solid #A2C485;
}
.hex p.restock {
    margin-top: 16px;
    border-top: 1px solid #CCC;
    padding-top: 16px;
}


.hex table {
    float: right;
    width: 400px;
}
.hex table th {
    border-bottom: 2px solid black;
    text-align: left;
}
th:first-child {
    text-align: center;
}
.hex table th, 
.hex table td {
    padding: 2px 7px;
}

.hex table.random-table td:first-child {
    vertical-align: top;
    text-align: center;
    padding: 2px 20px;
    font-weight: bold;
}
.hex table.random-table tr:nth-child(odd) {
    background-color: #E6E7F3;
}
.hex table.random-table tr:first-child {
    background-color: transparent;
}

.hex table.monster-table td:first-child,
.hex table.monster-table {
    text-align: left;
    font-weight: normal;
    margin-top:8px;
}
.hex table.monster-table tr:nth-child(even) {
    background-color: #E6E7F3;
}

.clear {
    clear:both;
}

.footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin: 75px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}
.footer a {
    color: #999;
    font-weight: bold;
}

a {
    color: #518C51
}
