{% extends 'base.html' %}

{% block content %}
<h1>On a lifeless island of black stone<br>stands the alien city of Carcosa.</h1>
<div class='write-up'>
    <p>
        This is <strong>Random Carcosa</strong>. You can use this website to
        generate <a href="/random/">random hex descriptions</a> for a world derived
        from the information within and aesthetics of Geoffery McKinney's
        <em>Carcosa</em>. <a href="/about/">What's this all about?</a>
    </p>
    <p>
        This is very much a <strong>work in progress</strong>. If you need
        <a href="http://character.totalpartykill.ca/carcosa/">a random 1st
        level character for your Carcosa game</a>, I've got you covered. If
        you need to roll a <a href="/roll/">dCarcosa</a> we can do that too.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_a }}</p>
    {{ monster.description|safe }}
    <p class='description'>
        About 10% of the hex descriptions in Carcosa are simple
        <a href='/monster/'>monster encounters</a>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_b }}</p>
    {{ spawn.description|safe }}
    <p class='description'>
        There are 103 <a href="/spawn/">Spawn of Shub-Niggurath</a>
        encounters described in <em>Carcosa</em>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_c }}</p>
    {{ settlement.description|safe }}
    <p class='description'>
        Of the 800 hex descriptions in <em>Carcosa</em> a little more than
        a quarter describe a <a href="/settlement/">village, citadel,
        castle, or monastery</a>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_d }}</p>
    <p class="description">You meet "{{ title|safe }}".</p>
    <p class='description'>
        Everyone you encounter in Carcosa has <a href="/title/">a ridiculous title</a>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_e }}</p>
    {{ dinosaur.description|safe }}
    <p class='description'>
        Several <a href="/dinosaur/">mutant dinosaurs</a> are described in Carcosa.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_f }}</p>
    {{ weird.description|safe }}
    <p class='description'>
        Most hex descriptions in Carcosa are kind of <a href="/weird/">crazy</a>.
    </p>
</div>
{% endblock %}
