{% extends 'base.html' %}

{% block content %}
<div id="header" class='hex'>
    <p class='location'>1507</p>
    <p class='description'>
        On a lifeless island of black stone stands the alien city of Carcosa.
    </p>
    <p class='description'>
        This is <strong>Random Carcosa</strong>. You can use this website to
        generate <a href="/random/">random hex descriptions</a> for a world
        derived from the information within and aesthetics of Geoffery
        McKinney's <em>Carcosa</em>. This is very much a <strong>work in
        progress</strong>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_a }}</p>
    {{ monster.description|safe }}
    <p class='description'>
        About 10% of the hex descriptions in Carcosa are simple
        <a href='/monster/'>monster encounters</a>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_b }}</p>
    {{ spawn.description|safe }}
    <p class='description'>
        There are 103 <a href="/spawn/">Spawn of Shub-Niggurath</a>
        encounters described in <em>Carcosa</em>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_c }}</p>
    {{ settlement.description|safe }}
    <p class='description'>
        Of the 800 hex descriptions in <em>Carcosa</em> a little more than
        a quarter describe a <a href="/settlement/">village, citadel,
        castle, or monastery</a>.
    </p>
</div>
<div class='hex'>
    <p class='location'>{{ hex_d }}</p>
    {{ weird.description|safe }}
    <p class='description'>
        Most hex descriptions in Carcosa are kind of <a href="/weird/">crazy</a>.
    </p>
</div>
{% endblock %}
